*{
   
    background-origin: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(214, 171, 91);
}



.contener{
    position: relative;
    width: 500px;
    margin-left: 800px;
    margin-top: 250px;
}


.id{
    margin-top: 3%;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    color: rgb(186, 111, 84);
}