*{
   box-sizing: border-box;
   padding: 0;
   margin: 0; 
}


/* body{
    height: 200vw;
    float: left;

} */


/* div{
    position: sticky;
        top: 50px;
        left: 50px;
        width: 200px;
        height: 200px;
        margin-top: 100px;
        border: 5px solid   black;
}

p {
    position: fixed;
    top: 50px; 
    left: 50px;
    width: 50px;
    height: 50px;
    border: 5px solid green;
/* } */

/* img{
    width: 900px;
    float: left;
    margin: 30px;
    border: 10px solid black;
}


p{
    line-height: 1.5;
    font-family:"Monserat" ;
}

p::first-letter {
    font-size: 90px;
    float: left;
}

p::first-line{
    color: red;
}

 */ 


body{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template: repeat(3 calc(100% / 3));
    gap: 40px;
    /* display: flex; */
    /* flex-wrap: wrap; */


    /* width: 100%;
    height: 100vh;  
    
    padding: 30px ; */
    
}


div{
    /* flex:0 0 calc(100% / 6); */
    border: 5px solid crimson;
    box-shadow: -10px 0 0  10px  crimson;
    /* padding: 10px; */
    
}


.span{
    grid-column: 2 span;

    /* flex-grow: 1; */
}